{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-labels": [
      "error",
      {
        "allowLoop": true
      }
    ]
  }
}
